@font-face {
  font-family: "Fredoka One";
  src: url("fredokaone-regular.ttf") format("truetype");
}

body {
  font-family: "Fredoka One", sans-serif;
  margin: 16px;
  color: #ffc000;
  background-color: black;
  font-size: 28pt;
  font-weight: lighter;
}

.joker_cat {
  color: #ffc000;
  font-size: 16pt;
}

.score_cat {
  color: #ff99ff;
  font-size: 18pt;
}

.cat_header_title {
  color: #ffc000;
  font-size: 16pt;
  font-weight: normal;
}

.cat_header {
  color: #ffc000;
  font-size: 28pt;
  font-weight: normal;
}

.total_header {
  color: #66ffff;
  font-size: 28pt;
  font-weight: normal;
}

.total_team {
  color: #66ffff;
  font-size: 28pt;
  font-weight: normal;
}

.team_name {
  color: #ffc000;
  font-size: 18pt;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}